.app {
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.left-side-pane{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  z-index: 1;
  height: 100%;
  transform: translateX(-240px);
  background-color: white;
  transition: all 0.2s;
}
.left-side-pane-open{
  transform: translateX(0px);
}
.left-side-pane>div:first-of-type{
  height: 56px;
  padding: 8px;
  background-color: #123456;
  border-top: 1.5px solid rgb(255, 174, 0);
  border-bottom: 1px solid #606060;
}
.left-side-pane>div:first-of-type>div{
  float: left;
  height: 40px;
  padding: 8px;
}
.left-side-pane>div:not(:first-of-type){
  height: 100%;
  background-color: white;
}
nav {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
}

nav>ul {
  list-style-type: none;
  background-image: linear-gradient(to bottom, white, #ecf1f8);
  margin: 0px;
  height: inherit;
  padding: 0px;
}
nav div.left-side-toggle {
  float: left;
  height: 40px;
  padding: 8px 16px;
}
nav>ul>li>div>div:not(.left-side-toggle) {
  float: right;
  height: 40px;
  padding: 4px 16px;
}


nav>ul>li {
  height: 56px;
  padding: 8px 4px;
  overflow: hidden;
}

.side-bar {
  overflow: hidden;
  width: 200px;
  margin: 0px;
  min-height: 100vh;
  background-color: #112233;
}

.wrapper {
  min-width: 1024px;
  margin: auto;
  transition: all 0.5s;
}

.table {
  /* border: ridge 1px #1f1f1f; */
  list-style-type: none;
  padding: 0px;
  margin: 40px 0px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.comment-cointainer {
  color: gray;
  border-radius: 5px;
  padding: 10px 5px;
  border: solid 1px grey;
  position: absolute;
  z-index: 2;
  top: 20px;
  display: none;
  left: 30px;
  animation-name: show-up;
  animation-delay: 400ms;
  animation-duration: 600ms;
  animation-fill-mode: both;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal-close-button:hover {
  color: #ff4a4a;
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .table>li>div:not(:first-of-type):not(:last-of-type):not(:nth-last-of-type(2)):not(:nth-last-of-type(3)) {
  text-align: left;
} */

.table>li:nth-of-type(2n) {
  background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
}

.table>li:not(:first-child)>div:last-of-type {
  padding: 2px 0px;
  height: 24px;
  position: relative;
}

.table>li>div:not(:last-child) {
  float: left;
}

.table>li:not(:first-of-type)>div:nth-of-type(8):hover div {
  display: block;
}

.table>li:first-child {
  font-weight: 600;
  padding: 15px 0px;
  height: auto;
  background-color: dodgerblue;
  color: #faf0f0;
}

.table>li:not(:first-child) {
  font-weight: 450;
  padding: 2px 0px;
  color: #505050;
}

.modal {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
  /* background-color: #00000060; */
  /* -webkit-backdrop-filter: blur(30px); */
  /* backdrop-filter: blur(1px); */
  /* background-color: rgba(0, 0, 0, 0.5); */
  animation: blur-in 0.2s ease-in-out both;
}

@keyframes blur-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.modal-content {
  border: 1px solid #1f1f1f;
  border-top-width: 0px;
  /* box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2); */
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  margin: auto;
  margin-bottom: 150px;
  position: absolute;
  background-color: #f5f5f5;
  padding: 0px;
  z-index: 2;
  animation: modal-show 0.5s ease-in-out both;
}

@keyframes modal-show {
  from {
    transform: none;
  }
  to {
    transform: translate3d(0px, 150px, 0);
  }
}

.modal-content-new-order {
  min-height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: wrap column;
}

.new-order-table {
  border-collapse: collapse;
  margin: 0px 20px;
  border-radius: 3px;
  /* border: 1px solid #222222; */
  /* overflow: hidden; */
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

.new-order-table>thead tr {
  height: 50px;
  color: white;
}

.new-order-table>thead td:first-of-type {
  border-top-left-radius: 3px;
}

.new-order-table>thead td:last-of-type {
  border-top-right-radius: 3px;
}

.new-order-table>thead {
  background-image: linear-gradient(to bottom, royalblue, #195db6);
  /* margin-bottom: 10px; */
}

.new-order-table>thead td:last-of-type, .new-order-table>thead td:first-of-type {
  width: 50px;
}

.new-order-table>tbody td {
  border: none;
  /* height: 30px; */
  padding: 5px 0px
}

.new-order-header {
  margin-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
}

.new-order-header>div:not(:first-of-type) {
  float: right;
  margin-right: 50px;
}

.new-order-header>div:first-of-type {
  float: left;
  margin-left: 50px;
}

.new-order-header>div>label {
  float: left;
  color: #222222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.new-order-header>div>select, .new-order-header>div>input {
  height: 40px;
  padding: 0px 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 1px solid #3f3f3f;
}

.new-order-header>div>select:focus, .new-order-header>div>input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0px 0px 2px 3px royalblue;
}

.new-order-header>div:focus-within>label {
  color: #195db6;
}

.new-order-table input, .new-order-table select {
  border: 0px;
  height: 30px;
  width: 90%;
  margin: auto;
  padding-left: 10px;
  border-radius: 3px;
}

.new-order-table input:focus, .new-order-table select:focus {
  /* outline-color: royalblue; */
  outline: none;
  border: none;
  border-radius: 3px;
  outline-offset: 0px;
  box-shadow: 0px 0px 2px 1.6px royalblue;
  /* outline: 3px royalblue solid; */
}

.new-order-table>tbody>tr>td>div:first-of-type {
  height: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
  cursor: default;
}

div.new-order-footer-wrapper {
  margin: 0px 50px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

div.new-order-footer-wrapper>textarea {
  flex: 1;
  margin-right: 50px;
}

div.forwarded-person {
  width: 190px;
}

div.forwarded-person:focus-within>label {
  color: #505050;
}

div.forwarded-person>label {
  float: left;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #222222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.forwarded-person>select {
  height: 40px;
  padding: 0px 10px;
}

div.forwarded-person>select:focus {
  border: none;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 0px 2px 3px rgb(255, 174, 0);
}

div.send-order {
  align-self: flex-end;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  background-color: rgb(255, 174, 0);
  min-width: 180px;
  margin: 50px;
  padding: 10px;
  border-radius: 3px;
  height: 40px;
}

.importance-div {
  border-radius: 3px;
}

.importance-dropdown>li {
  height: 30px;
  padding: 5px 5px 5px 15px;
}

.importance-dropdown>li>svg {
  width: 8px;
  float: right;
}

.importance-dropdown-visible {
  display: block !important;
  animation: show-up 0.4s ease-in-out both;
}

.importance-dropdown>li:hover {
  background-color: steelblue;
  color: white;
  cursor: default;
}

.new-order-table tbody>tr:not(:nth-of-type(2n+1)) {
  background-color: #eeeeee;
}

.new-order-table tbody>tr:nth-of-type(2n+1) {
  background-color: #e5e5e5;
}

.importance-dropdown {
  margin: auto;
  position: absolute;
  top: 100%;
  text-align: left;
  left: 0;
  width: 100%;
  z-index: 2;
  display: none;
  border-radius: 3px;
  overflow: hidden;
  /* border: thin gray solid; */
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 0px;
  /* margin-top: 2px; */
  background-color: #f0f0f0;
  padding: 0px;
  list-style-type: none;
}

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
}

.loading>svg {
  animation: loading 100ms ease-in-out both;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-order-button {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 3px rgba(32, 32, 32, 0.2);
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(255, 174, 0);
}

.modal-content>div:first-child {
  background-image: linear-gradient(to bottom, #3f3f3f, #1f1f1f);
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-weight: 600;
}

.participants {
  list-style-type: none;
  padding-left: 0px;
}

.participants>li:first-of-type {
  background-color: #D93404;
  color: white;
  font-weight: 600;
  overflow: hidden;
}

.participants>li>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  width: 25%;
  padding: 10px 20px;
  height: 50px;
}

.participants>li>div:first-of-type {
  text-align: left;
}

.participants>li:not(:first-of-type) {
  height: 50px;
  overflow: hidden;
}

.action-container {
  width: 100px;
  background-color: white;
  border: 0.49px solid #a1a1a1;
  z-index: 1;
  display: block;
  position: absolute;
  transition: all 0.1s;
  border-radius: 3px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 0px 10px 1px #c1c1c1;
}

.action-container>ul {
  overflow: hidden;
  list-style-type: none;
  padding-left: 0px;
  padding: 2px 0px;
}

.action-container>ul>li {
  padding: 1px 15px;
  text-align: left;
}

.action-container>ul>li:hover {
  background-color: dodgerblue;
  color: white;
}

.blinking {
  animation-name: blink;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    color: gray;
  }
  to {
    color: #F4B400
  }
}

.status-container {
  padding: 20px;
  background-color: #eeeeee;
  border: 1.5px #d1d1d1 solid;
  margin: 20px 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center
}

.icon-container {
  background-color: #0F9D58;
  display: flex;
  height: 60px;
  justify-content: center;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.status-container>div:not(.icon-container) {
  height: 15px;
  border-radius: 3px;
  flex-grow: 1;
  margin: 0px 2px;
  background-color: #0F9D58;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.history {
  padding-left: 0px;
  margin-left: 20px;
  list-style-type: none;
}

.history>li {
  padding: 10px 0px;
  /* width: 100%; */
  clear: both;
  overflow: hidden;
}

.history>li>div {
  float: left;
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 16px 0px;
  /* min-height: 100px; */
}

.search-container>div:not(:first-of-type):not(:last-of-type) {
  text-align: left;
  height: 58px;
  margin: 0px 10px
}

.search-container>div:first-of-type {
  text-align: left;
  height: 58px;
  margin-right: 10px;
}

.search-container label {
  color: white;
  font-weight: bold;
  margin-bottom: 2px;
  display: inline-block
}

.search-container input, .search-container select {
  border: none;
  padding: 0px 10px;
  min-width: 150px;
  color: #3f3f3f;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* margin: 0px 10px; */
}

.search-container input:focus, .search-container select:focus {
  outline: none;
  border: none;
  outline-offset: 0px;
  outline: 3px #ffae00 solid;
}

/* @media screen and (max-width: 600px) {
  .modal-content{
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .table>li div:nth-last-child(2),.table li div:nth-last-child(4) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 21% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 820px) {
  .wrapper {
    width: 600px;
  }
  .table>li div:nth-last-child(2) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 17% !important;
  }
  .modal-content {
    width: 100%;
  }
}
@media screen and (min-width: 820px) and (max-width: 992px) {
  .wrapper {
    width: 800px;
  }
} */

@media screen and (min-width: 992px) {
  .wrapper {
    width: 90%;
    max-width: 1256px;
  }
}