.app {
  text-align: center;
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

nav>ul {
  list-style-type: none;
  background-image: linear-gradient(to bottom, #1367ac, #195db6);
  margin: 0px;
  border-bottom: solid 1px #dddada;
  overflow: hidden;
}

nav>ul>li {
  float: right;
  margin-right: 50px;
}

.side-bar {
  overflow: hidden;
  width: 200px;
  margin: 0px;
  min-height: 100vh;
  background-color: #112233;
}

.wrapper {
  width: 960px;
  margin: auto;
  transition: all 0.5s;
}

.table {
  /* border: ridge 1px #1f1f1f; */
  list-style-type: none;
  padding: 0px;
  margin: 40px 0px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.comment-cointainer {
  color: gray;
  border-radius: 5px;
  padding: 10px 5px;
  border: solid 1px grey;
  position: absolute;
  z-index: 2;
  top: 20px;
  display: none;
  left: 30px;
  animation-name: show-up;
  animation-delay: 400ms;
  animation-duration: 600ms;
  animation-fill-mode: both;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal-close-button:hover {
  color: #ff4a4a;
}

@keyframes show-up {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

/* .table>li>div:not(:first-of-type):not(:last-of-type):not(:nth-last-of-type(2)):not(:nth-last-of-type(3)) {
  text-align: left;
} */

.table>li:nth-of-type(2n) {
  background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
}

.table>li:not(:first-child)>div:last-of-type {
  padding: 2px 0px;
  height: 24px;
  position: relative;
}

.table>li>div:not(:last-child) {
  float: left;
}

.table>li:not(:first-of-type)>div:nth-of-type(8):hover div {
  display: block;
}

.table>li:first-child {
  font-weight: 600;
  padding: 15px 0px;
  height: auto;
  background-color: dodgerblue;
  color: #faf0f0;
}

.table>li:not(:first-child) {
  font-weight: 450;
  padding: 2px 0px;
  color: #505050;
}

.modal {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
  /* background-color: #00000060; */
  /* -webkit-backdrop-filter: blur(30px); */
  /* backdrop-filter: blur(1px); */
  /* background-color: rgba(0, 0, 0, 0.5); */
  animation: blur-in 0.2s ease-in-out both;
}

@keyframes blur-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.modal-content {
  border: 1px solid #1f1f1f;
  border-top-width: 0px;
  /* box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2); */
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  background-color: #f5f5f5;
  padding: 0px;
  z-index: 2;
  animation: modal-show 0.5s ease-in-out both;
}

@keyframes modal-show {
  from {
    transform: none;
  }
  to {
    transform: translate3d(0px, 150px, 0);
  }
}

.modal-content-new-order {
  min-height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: wrap column;

}
.new-order-table {
  border-collapse: collapse;
}
.new-order-table>thead td{
  height: 50px;
  color: white;
}
.new-order-table>thead {
  background-color: royalblue;
  /* margin-bottom: 10px; */
}
.new-order-table>thead td:last-of-type, .new-order-table>thead td:first-of-type{
  width: 50px;
}
.new-order-table>tbody td {
  height: 30px;
}
.new-order-header {
  overflow: hidden;
}
.new-order-header>div:not(:first-of-type) {
  float: right;
}
.new-order-header>div:first-of-type {
  float: left;
}

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
}

.loading>svg {
  animation: loading 100ms ease-in-out both;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-order-button {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 3px rgba(32, 32, 32, 0.2);
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(255, 174, 0);
}

.modal-content>div:first-child {
  background-image: linear-gradient(to bottom, #3f3f3f, #1f1f1f);
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-weight: 600;
}

.participants {
  list-style-type: none;
  padding-left: 0px;
}

.participants>li:first-of-type {
  background-color: #D93404;
  color: white;
  font-weight: 600;
  overflow: hidden;
}

.participants>li>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  width: 25%;
  padding: 10px 20px;
  height: 50px;
}

.participants>li>div:first-of-type {
  text-align: left;
}

.participants>li:not(:first-of-type) {
  height: 50px;
  overflow: hidden;
}

.action-container {
  width: 100px;
  background-color: white;
  border: 0.49px solid #a1a1a1;
  z-index: 1;
  display: block;
  position: absolute;
  transition: all 0.1s;
  border-radius: 3px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 0px 10px 1px #c1c1c1;
}

.action-container>ul {
  overflow: hidden;
  list-style-type: none;
  padding-left: 0px;
  padding: 2px 0px;
}

.action-container>ul>li {
  padding: 1px 15px;
  text-align: left;
}

.action-container>ul>li:hover {
  background-color: dodgerblue;
  color: white;
}

.blinking {
  animation-name: blink;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    color: gray;
  }
  to {
    color: #F4B400
  }
}

.status-container {
  padding: 20px;
  background-color: #eeeeee;
  border: 1.5px #d1d1d1 solid;
  margin: 20px 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center
}

.icon-container {
  background-color: #0F9D58;
  display: flex;
  height: 60px;
  justify-content: center;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.status-container>div:not(.icon-container) {
  height: 15px;
  border-radius: 3px;
  flex-grow: 1;
  margin: 0px 2px;
  background-color: #0F9D58;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.history {
  padding-left: 0px;
  margin-left: 20px;
  list-style-type: none;
}

.history>li {
  padding: 10px 0px;
  /* width: 100%; */
  clear: both;
  overflow: hidden;
}

.history>li>div {
  float: left;
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  /* min-height: 100px; */
}

.search-container input:focus {
  outline: none;
  outline-offset: 0px;
  outline: 1.5px #ffae00 solid;
}

/* @media screen and (max-width: 600px) {
  .modal-content{
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .table>li div:nth-last-child(2),.table li div:nth-last-child(4) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 21% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 820px) {
  .wrapper {
    width: 600px;
  }
  .table>li div:nth-last-child(2) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 17% !important;
  }
  .modal-content {
    width: 100%;
  }
}
@media screen and (min-width: 820px) and (max-width: 992px) {
  .wrapper {
    width: 800px;
  }
} */

@media screen and (min-width: 992px) {
  .wrapper {
    width: 90%;
    max-width: 1256px;
  }
}