.app {
  text-align: center;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
nav>ul {
  list-style-type: none;
  background-image: linear-gradient(to right, #1367ac, #195db6);
  margin: 0px;
  border-bottom: solid 1px #dddada;
  overflow: hidden;
}
nav>ul>li {
  float: right;
  margin-right: 50px;
}
.side-bar {
  overflow: hidden;
  width: 200px;
  margin: 0px;
  min-height: 100vh;
  background-color: #112233;
}
.wrapper {
  width: 960px;
  margin: auto;
}
.table {
  border: ridge 1px #1f1f1f;
  list-style-type: none;
  padding: 0px;
  margin: 40px 0px;
}
.table>li {
  overflow: hidden;
}
.table>li:nth-of-type(2n) {
  background-image: linear-gradient(to right, #e3e3e3 , #f1f1f1);
}
.table>li div {
  padding: 3px 0px
}
.table>li div:not(:last-child) {
  float: left;
}

.table>li:first-child {
  font-weight: 600;
  padding: 10px 0px;
  background-color: dodgerblue;
  color: #dddada;
}
.modal{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
  filter: blur(8px);
  background-color: rgba(0,0,0,0.4);
  -webkit-filter: blur(8px);
}
.modal-content{
  border: 1px ridge #1f1f1f;
  width: 60%;
  margin: auto;
  position: absolute;
  margin-top: 15%;
  background-color: #f1f1f1;
  padding: 0px;
  z-index: 2;
}
.modal-content>div:first-child {
  background-image: linear-gradient(to bottom, #3f3f3f, #1f1f1f);
  padding: 10px 20px;
  color: #dddada;
  text-align: left;
  font-weight: 600;
}
.modal-content>ul {
  overflow: hidden;
  list-style-type: none;
}
.modal-content>ul>li:first-of-type {
  background-color: #4285F4;
}
.modal-content>ul>li>div {
  float: left;
  width: 25%;
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .table>li div:nth-last-child(2),.table li div:nth-last-child(4) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 21% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .wrapper {
    width: 600px;
  }
  .table>li div:nth-last-child(2) {
    display: none;
  }
  .table>li div:not(:first-child):not(:last-child) {
    float: left;
    width: 17% !important;
  }
  .modal-content {
    width: 100%;
  }
}
@media screen and (min-width: 800px) and (max-width: 992px) {
  .wrapper {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1156px;
  }
}